
body{
  margin: 0 auto;
  width: 900px;
  background-color: white;
  text-align: center;
  padding: 0;
}

main{
  background-color: wheat;
  padding: 50px;
}
h1 {
font-family: "Comic Sans MS";
font-size: 60px;
color:red;
}

h2 { 
  color : black; 
  font-family : 'Serif'; 
  font-size : 50px; 
  text-decoration: underline;
  }

h3{
  color : black;
  font-size: 40px;
}

p, ul, ol { 
  font-family : Arial; 
  font-size : 20px; 
  color : darkslategrey; 
  text-align: left;
  }

img{
  width: 600px;
}
